body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

#root {
  height: 100%;
  display: flex;
}

.game {
  height: 100%;
  width: 75%;
  color: white;
}

.empty {
  color: black;
  text-align: center;
}

.controls {
  width: 25%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;


}

.controls h2 {
  margin: 0;
  margin-bottom: 1rem;
}

.controls button {
  width: 100%;
  display: block;
}

.controls button:not(:last-child) {
  margin-bottom: 1rem;
}

button {
  padding: 8px 16px;
}

.blue {
  background-color: #0A1478;
}

.score {
  color: rgb(238,159,92);
}

.question {
  height: 85%;
  width: 100%;
  text-align: center;
  position: relative;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.question .player-button {
  min-width: 100px;
  margin: 0 10px;
}

.question > .go-back { 
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.question > .clicker-queue {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 14px;
}
.question > .clicker-queue > div {
  margin-top: 0.25rem;
}

.question > .text {
  padding-bottom: 1rem;
  max-width: 400px;
  font-size: 2rem;
  margin: auto;
  min-height: 33vh;
}

.question > .header {
  padding-top: 1rem;
  margin-bottom: 2rem;
}
